
# Añadir a .env.example y a tu .env real:
EMBEDDING_PROVIDER=openai          # "openai" | "gemini"
OPENAI_API_KEY=tu_clave_de_OpenAI
GEMINI_API_KEY==tu_clave_de_google_ai_studio
EMBEDDING_MODEL_GEMINI=gemini-embedding-2